:host {
  --gap: 20px;
  --content-cols: 2;
  --map-width: calc(60% - calc(var(--gap) / 2));
  --info-width: calc(40% - calc(var(--gap) / 2));

  @media (max-width: 760px) {
    --map-width: 100%;
    --info-width: 100%;
  }

  display: block;

  .container {
    display: flex;
    flex-direction: column;
    margin: 20px;

    .lib {
      margin-bottom: 20px;
      height: 100px;

      img {
        height: 100%;
      }
    }

    .top {
      padding-top: 20px;
      border-top: solid 1px gainsboro;
      display: flex;
      flex-wrap: wrap;
      gap: var(--gap);

      search-input-container,
      date-picker-container {
        flex-basis: calc( calc( 100% / 2 ) - calc( var(--gap) / 2 ) );
        flex-grow: 1;
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;

      .map {
        flex: 0 0 var(--map-width);
      }

      .info {
        flex: 0 0 var(--info-width);
      }
    }
  }
}
